/* 
COLOR PALETTE

DARK GREY rgb(30, 30, 30)
LIGHT GREY rgb(41, 41, 41)
BLUE rgb(50, 115, 208)
*/

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: white;
}
html {
    background-color: rgb(95, 95, 95);
}
body {
    width: 800px;
    height: 500px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
}
.button-default-style {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(50, 115, 208);
    padding: 5px 13px;
    border-radius: 5px;
}

.workspace-name {
    position: absolute;
    top: -30px;
    left: -15px;
    font-size: 80px;
    font-weight: 800;
    color: rgba(35, 35, 35);
}
.workspace-name-input-container {

    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 500px;
    z-index: +2;
    background-color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: +2;
}
.workspace-name-input {
    height: 40px;
    display: flex;
    align-items: center;
}
.workspace-name-input input {
    background-color: rgb(30, 30, 30);
    width: 300px;
    padding: 9px 13px;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    outline: none;
}
.workspace-name-btn {
    height: 98%;
    margin-left: 10px;
    border-radius: 8px;
}

/* DESKTOP */
.desktop-container {
    width: 90%;
    height: 25%;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.desktop-list {
    z-index: +1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn-container {
    width: 25px;
    height: 40px;
    position: relative;
}
.btn-container button {
    position: absolute;
    left: -25px;
    opacity: .5;
    color: white;
    background-color: rgb(50, 115, 208);
    border: none;
    outline: none;
    border-radius: 0 50px 50px 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: opacity .3s, left .5s;
}
.first-btn-container button {
    border-radius: 50px 0 0 50px;
    left: 25px;
}
.btn-container button:hover {
    opacity: 1;
}
.desktop-container:hover .last-btn-container button {
    left: -10px;
}
.desktop-container:hover .first-btn-container button{
    left: 10px;
}

.desktop {
    width: 160px;
    height: 80px;
    margin: 0 10px;
    border: 4px solid rgb(35, 35, 35);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    box-shadow: 10px 10px 26px #161616,
        -10px -10px 26px #262626,
        inset 10px 10px 26px #161616,
        inset -5px -5px 26px #262626;
}
.active-desktop {
    width: 170px;
    height: 90px;
}

/* DESK INFOS */
.desktop-infos-container {
    width: 100%;
    height: 75%;
}
.app-selection-container {
    width: 100%;
    height: 25%;
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
}
.app-selection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 368px;
    height: 30px;
}
.input-and-app-list {
    background-color: rgb(35, 35, 35);
    width: 250px;
}
.search-input {
    padding: 2% 3%;
    border: none;
    color: black;
    border-radius: 3px;
    width: 94%;
    outline: none;
}
.select-app-input {
    visibility: hidden;
    width: 30px;
    padding: 5px 4px 5px 0;
}
.select-app-input::before {
    visibility: visible;
    content: '+';
    background-color: rgb(51, 51, 51);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.app-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: scroll;
    background-color: rgb(35, 35, 35);
    position: relative;
}
.app-list li {
    align-self: flex-start;
    list-style: none;
    padding: 5px 0 5px 5%;
    cursor: pointer;
    opacity: .7;
    width: 95%;
    font-size: 14px;
}
.app-list li:hover {
    opacity: 1;
    background-color: rgb(50, 115, 208);
}

/*  */
.desktop-number-container {
    height: 13%;
    margin-left: 5%;
    font-weight: 500;
    display: inline-block;
}
.desktop-number-span {
    height: 2px;
    background-color: rgb(50, 115, 208);
    display: block;
    margin-top: -3px;
}
.desktop-number-span1-anim {
    animation: desktop-span1-anim .5s forwards;
}
.desktop-number-span2-anim {
    animation: desktop-span2-anim .7s forwards;
}
.desktop-number-span2 {
    margin-top: -2px;
}

.app-added-to-workspace {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    height: 62%;
    margin: 0 10%;
}
.app-card {
    display: grid;
    grid-template-columns: 1fr 40px 30px;
    column-gap: 15px;
    width: 43%;
    height: 40px;
    border-radius: 50px;
    padding: 0 2%;
    background-color: rgb(50, 50, 50);
    box-shadow: 0px 0px 26px #161616;
}
.app-card p {
    align-self: center;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}
.app-card a {
    align-self: center;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(50, 115, 208);
}
.app-card img {
    align-self: center;
    width: 20px;
    grid-column: 3;
    cursor: pointer;
}

/* ANIMATIONS */
@keyframes desktop-span1-anim {
    0% {
        width: 0;
    } 100% {
        width: 30px;
    }
}
@keyframes desktop-span2-anim {
    0% {
        width: 0;
        margin-left: 0;
    } 100% {
        width: 4px;
        margin-left: 32px;
    }
}